.block {
  height: 30vh;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 16px;
  border: 1px solid rgb(99, 162, 5);
  border-radius: 16px;
}

.custom-container {
  height: 30vh;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid rgb(99, 162, 5);
  border-radius: 16px;
  margin-bottom: 50px;
}

.title {
  width: max-content;
  margin: 0 auto 12px;
}
